<section>
    <div>
        See your courses!
        <button data-bind="click: createCourse">
            Create course
        </button>
        <div data-bind="foreach: courses">
            <div>
                <span data-bind="text: title"></span>
                <span data-bind="text: description"></span>
                <span data-bind="text: creater"></span>
                <span data-bind="text: lastUpdatedDate"></span>
                <span data-bind="text: createdDate"></span> 
                <button data-bind="click: function() { $root.updateCourse($data.id) }">Update</button>
                <button data-bind="click: function() { $root.removeCourse($data.id) }">Delete</button>
                <br />
                <div data-bind="foreach: sections">
                    <span data-bind="text: title"></span>
                    <span data-bind="text: creater"></span>
                    <span data-bind="text: lastUpdatedDate"></span>
                    <span data-bind="text: createdDate"></span>
                    <!--<button data-bind="click: function() { $root.updateCourse($data.id) }">Update</button>
                    <button data-bind="click: function() { $root.removeCourse($data.id) }">Delete</button>-->
                </div>
            </div>
        </div>
    </div>
</section>
