<section>
    <div>
        See your courses!
        <button data-bind="click: createCourse">
            Create course
        </button>
        <div data-bind="foreach: courses">
            <div>
                <span data-bind="text: title"></span>
                <span data-bind="text: description"></span>
                <span data-bind="text: creater"></span>
                <span data-bind="text: lastUpdatedDate"></span>
                <span data-bind="text: createdDate"></span> 
                <button data-bind="click: $root.previewCourse ">Preview</button>
                <button data-bind="click: $root.updateCourse ">Update</button>
                <button data-bind="click: $root.removeCourse.bind($root) ">Delete</button>
                <br />
                <div data-bind="foreach: sections">
                    <div style="margin-left: 30px">
                        <span data-bind="text: title"></span>
                        <span data-bind="text: creater"></span>
                        <span data-bind="text: lastUpdatedDate"></span>
                        <span data-bind="text: createdDate"></span>
                        <button data-bind="click: $root.updateSection ">Update</button>
                        <button data-bind="click: $root.removeSection.bind($root) ">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
