<section>
    <div>
        See your courses!
        <button data-bind="click: createCourse">
            Create course
        </button>
        <div>
            Searcher!!!
            <form data-bind="submit: searchByTitleAndIntervalDate">
                <label>Title </label><input type="text" data-bind="value: searchTitle, valueUpdate: 'input', attr: {list: 'searchTitle'}, event: { keyup: searchByTitleAndIntervalDate } " />
                <datalist id="searchTitle" data-bind="foreach: searchedCoursesTitles">
                    <option data-bind="value: $data"></option>
                </datalist>
                <label>From </label><input type="text" data-bind="value: searchDateFrom, valueUpdate: 'afterkeydown', event: { keyup: searchByTitleAndIntervalDate }" />
                <span data-bind="visible: searchDateFrom.hasError, text: searchDateFrom.validationMessage"></span>
                <label>To </label><input type="text" data-bind="value: searchDateTo, valueUpdate: 'afterkeydown', event: { keyup: searchByTitleAndIntervalDate }"/>
                <span data-bind="visible: searchDateTo.hasError, text: searchDateTo.validationMessage"></span>
                <input type="submit" />
            </form>
        </div>
        <div data-bind="foreach: courses" style="margin-top: 30px">
            <div>
                <span data-bind="text: title"></span>
                <span data-bind="text: description"></span>
                <span data-bind="text: creater"></span>
                <span data-bind="text: lastUpdatedDate"></span>
                <span data-bind="text: createdDate"></span> 
                <button data-bind="click: $root.previewCourse ">Preview</button>
                <button data-bind="click: $root.updateCourse ">Update</button>
                <button data-bind="click: $root.removeCourse.bind($root) ">Delete</button>
                <br />
                <div data-bind="foreach: sections">
                    <div style="margin-left: 30px">
                        <span data-bind="text: title"></span>
                        <span data-bind="text: creater"></span>
                        <span data-bind="text: lastUpdatedDate"></span>
                        <span data-bind="text: createdDate"></span>
                        <button data-bind="click: $root.updateSection ">Update</button>
                        <button data-bind="click: $root.removeSection.bind($root) ">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
