<section>
    <div>
        Update select question
    </div>
    <button data-bind="click: back">Back</button>
    <form data-bind="submit: updateSelectQuestion">
        <input type="text" data-bind="value: selectQuestionTitle, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: selectQuestionTitle.hasError, text: selectQuestionTitle.validationMessage"></span>
        <input type="submit" />
    </form>
    <div>
        Create answer
    </div>
    <form data-bind="submit: createAnswer">
        <input type="text" data-bind="value: answerTitle, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: answerTitle.hasError, text: answerTitle.validationMessage"></span>
        <input type="submit" />
    </form>
</section>
