<section>
    <div>
        Update Section
    </div>
    <button data-bind="click: back">Back</button>
    <form data-bind="submit: updateSection">
        <input type="text" data-bind="value: sectionTitle, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: sectionTitle.hasError, text: sectionTitle.validationMessage"></span>
        <input type="submit" />
    </form>
    <siv>
        See your questions
    </siv>
    <div>
        <button data-bind="click: createSelectQuestion">Create select question</button>
        <div data-bind="foreach: selectQuestions" >
            <div>
                <span data-bind="text: title"></span>
                <span data-bind="text: creater"></span>
                <span data-bind="text: lastUpdatedDate"></span>
                <span data-bind="text: createdDate"></span>
                <button data-bind="click: $root.updateSelectQuestion">Update</button>
                <button data-bind="click: $root.removeSelectQuestion.bind($root) ">Delete</button>
                <br />
                <div data-bind="foreach: answers">
                    <div style="margin-left: 30px">
                        <span data-bind="text: title"></span>
                        <span data-bind="text: creater"></span>
                        <span data-bind="text: lastUpdatedDate"></span>
                        <span data-bind="text: createdDate"></span>
                        <span data-bind="text: isCorrectly"></span>
                        <button data-bind="click: $root.updateAnswer ">Update</button>
                        <button data-bind="click: $root.removeAnswer.bind($root) ">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
