<section>
    <div>
        Update course
    </div>
    <form data-bind="submit: updateCourse">
        <input type="text" data-bind="value: title, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: title.hasError, text: title.validationMessage"></span>
        <input type="text" data-bind="value: description, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: description.hasError, text: description.validationMessage"></span>
        <input type="submit" />
    </form>
</section>