<section>
    <div>
        Update course
    </div>
    <button data-bind="click: back">Back</button>
    <form data-bind="submit: updateCourse">
        <input type="text" data-bind="value: courseTitle, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: courseTitle.hasError, text: courseTitle.validationMessage"></span>
        <input type="text" data-bind="value: courseDescription, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: courseDescription.hasError, text: courseDescription.validationMessage"></span>
        <input type="submit" />
    </form>
    <div>
        Create Section
    </div>
    <form data-bind="submit: createSection">
        <input type="text" data-bind="value: sectionTitle, valueUpdate: 'afterkeydown'"/>
        <span data-bind="visible: sectionTitle.hasError, text: sectionTitle.validationMessage"></span>
        <input type="submit"/>
    </form>
</section>