<section>
    <form data-bind="submit: updateSection">
        <input type="text" data-bind="value: sectionTitle, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: sectionTitle.hasError, text: sectionTitle.validationMessage"></span>
        <input type="submit" />
    </form>
    <div>
        <button data-bind="click: createSelectQuestion">Create select question</button>
        <div data-bind="foreach: selectQuestions" >
            <div>
                <span data-bind="text: title"></span>
                <span data-bind="text: creater"></span>
                <span data-bind="text: lastUpdatedDate"></span>
                <span data-bind="text: createdDate"></span>
                <button data-bind="click: function() { $root.updateSelectQuestion($data.id) }">Update</button>
                <button data-bind="click: function() { $root.removeSelectQuestion($data.id) }">Delete</button>
            </div>
        </div>
    </div>
</section>
