<section>
    <form data-bind="submit: updateSection">
        <input type="text" data-bind="value: sectionTitle, valueUpdate: 'afterkeydown'" />
        <span data-bind="visible: sectionTitle.hasError, text: sectionTitle.validationMessage"></span>
        <input type="submit" />
    </form>
    <div>
        <div data-bind="foreach: singleSelectQuestions" >
            <div>
                <span data-bind="text: title"></span>
                <span data-bind="text: creater"></span>
                <span data-bind="text: lastUpdatedDate"></span>
                <span data-bind="text: createdDate"></span>
                <!--<button data-bind="click: function() { $root.updateSection($data.id, $parent.id) }">Update</button>
                <button data-bind="click: function() { $root.removeSection($data.id, $parent.id) }">Delete</button>-->
            </div>
        </div>
        <div data-bind="foreach: multipleSelectQuestions" style="margin-top: 100px;">
            <div>
                <span data-bind="text: title"></span>
                <span data-bind="text: creater"></span>
                <span data-bind="text: lastUpdatedDate"></span>
                <span data-bind="text: createdDate"></span>
                <!--<button data-bind="click: function() { $root.updateSection($data.id, $parent.id) }">Update</button>
                <button data-bind="click: function() { $root.removeSection($data.id, $parent.id) }">Delete</button>-->
            </div>
        </div>
    </div>
</section>
