@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <title>EasyGeneratorMin</title>
    @Styles.Render("~/Content/css") 
</head>
<body>
    <div>
        <span>
            Welcome to EasyGeneratorMin!
        </span>
    </div>
    @Html.RouteLink("Go to Courses", "Course")
</body>
</html>