@using System.Web.Optimization;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <span>
            Welcome to EasyGeneratorMin!
        </span>
    </div>
    @Html.RouteLink("Go to Courses", "Course")
</body>
</html>