@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <title>EasyGeneratorMin.Web</title>
    @Styles.Render("~/Content/css") 
</head>
<body>
    <div>
        <span>
            Welcome to EasyGeneratorMin!
        </span>
    </div>
    @Html.RouteLink("See your courses", "Overview")
</body>
</html>