@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div id="applicationHost">
            Loading app....
        </div>

        @Scripts.Render("~/Scripts/vendor")
        <script type="text/javascript" src="~/scripts/require.js"
                data-main="/App/main"></script>
    </div>
</body>
</html>
