<section>
    <div>
        Answer to questions!
    </div>
    <button data-bind="click: back">Back</button>
    <form data-bind="submit: answersHandler">
        <div data-bind="foreach: selectQuestions">
            <div>
                <span data-bind="text: title"></span>
                <br />
                <div data-bind="foreach: answers">
                    <div style="margin-left: 30px">
                        <input data-bind="attr: { name: $parent.id, type: ($parent.type == 'Single') ? 'radio' : 'checkbox' }, checked: $data.isCorrectly, value: 'true'" />
                        <span data-bind="text: title"></span>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</section>
